* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  color: #111;
  background: #fff;
  line-height: 1.6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
.hero {
  background: 
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("Assets/heroBackground.jpg") center/cover no-repeat;
  color: #fff;
  padding: 120px 0;
}

.hero-content h2 {
  font-size: 42px;
  max-width: 700px;
  margin-bottom: 20px;
}

.hero-content p {
  max-width: 600px;
  margin-bottom: 30px;
  color: #ddd;
}


.container {
  max-width: 1000px;
  margin: auto;
  padding: 30px 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}

header h1 {
  font-size: 30px;
  font-weight: 800;
}

nav a {
  font-size: 20px;
  margin-left: 20px;
  text-decoration: none;
  color: #111;
  font-weight: 800;
}
nav a:hover {
  color:#737373;
  transition: smooth 1.5s ease-in-out;
  
}

.hero h2 {
  font-size: 40px;
  margin-bottom: 20px;
  max-width: 700px;
}

.hero p {
  max-width: 600px;
  margin-bottom: 30px;
  color: #444;
}

.btn {
  display: inline-block;
  background: #111;
  color: #fff;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 500;
}
.btn:hover {
  background:#FFFFFF;
  transition: background 0.5s ease-in-out;
  color: #000;
}

h3 {
  font-size: 40px;
  margin-bottom: 20px;
  text-decoration-line: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: #000;
  text-underline-offset: 7px; 
  margin: 1px 1px 1px 1px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  margin-bottom: 20px;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.contact {
  background: #737373;
  border-radius: 8px;
}
.contact p {
  margin-bottom: 20px; 
}
.contact .btn {
  margin-top: 8px; 
}
.hero {
  background: 
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("Assets/heroBackground.jpg") center/cover no-repeat;
  color: #fff;
  padding: 120px 0;
}

.hero-content h2 {
  font-size: 42px;
  max-width: 700px;
  margin-bottom: 20px;
}

.hero-content p {
  max-width: 600px;
  margin-bottom: 30px;
  color: #ddd;
}
.card ul {
  margin: 10px 0;
  padding-left: 18px;
}

.card ul li {
  font-size: 14px;
  color:#000;
}
.sm{
    max-width: 980px;
}
footer {
  text-align: center;
  padding: 0px;
  color: #737373;
  font-size: 14px;
}